Repository Will-Hsu/cses_webdev, pull requests merged in 2023-09, with the labels that each got.

#69 Feature/yashil/fe fix button component
  frontend/src/components/About/MeetTheTeam.tsx
  frontend/src/components/Button/styles.ts
  frontend/src/components/Events/Events.tsx
Labels: user-story, front-end

#79 Feature/joyce lu and sardor sobirov/fe rewards and event code UI
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Events/Events.tsx
  frontend/src/components/Membership/Membership.tsx
  frontend/src/components/Membership/RewardsMenu.tsx
  frontend/src/components/Membership/styles.ts
  frontend/src/images/gift.png
  frontend/src/images/rewardsImages/big_gift.png
  frontend/src/images/rewardsImages/med_gift.png
  frontend/src/images/rewardsImages/small_gift.png
Labels: front-end

#82 Feature/sithu yashil/be update events scheme and api
  backend/controllers/eventController.js
  backend/controllers/userController.js
  backend/models/event.js
Labels: back-end

#85 Feature/joyce lu/fe connect prize UI to api
  frontend/src/api/index.js
  frontend/src/components/Membership/ConfirmationDialog.tsx
  frontend/src/components/Membership/Membership.tsx
  frontend/src/components/Membership/RewardsMenu.tsx
  frontend/src/images/gift.png
Labels: front-end

#84 Implement RedeemLog & log with redeem API
  backend/controllers/userController.js
  backend/models/redeemLog.js
  frontend/src/components/Footer/Footer.tsx
  frontend/src/components/NavBar/NavBar.tsx
  frontend/src/images/logo.png
Labels: back-end
