Repository Will-Hsu/cses_webdev, pull requests merged in 2023-07, with the labels that each got.

#19 Feature/sithu soe and joyce lu/fe home
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Home/Home.tsx
  frontend/src/components/Home/Images/desktop.png
  frontend/src/components/Home/Images/desktop_tail.png
  frontend/src/components/Home/styles.ts
  package-lock.json
  package.json
Labels: user-story, front-end

#16 Feature/Brian-Eddie-Yashil/BE-Event-API: US #5
  backend/controllers/eventController.js
  backend/database/connect-db.js
  backend/database/db-test.js
  backend/index.js
  backend/models/event.js
  backend/package-lock.json
  backend/package.json
  backend/routes/event.js
Labels: user-story, back-end

#24 Feature/sithu soe and joyce lu/fe about
  frontend/src/components/About/About.tsx
  frontend/src/components/About/styles.ts
  frontend/src/images/aboutbooks.png
  frontend/src/images/aboutlightbulb.png
  frontend/src/images/aboutpagephoto.png
  frontend/src/images/aboutsquare.png
  frontend/src/images/next.png
  frontend/src/images/previous.png
  package-lock.json
Labels: front-end
