Repository Will-Hsu/cses_webdev, pull requests merged in 2023-08, with the labels that each got.

#38 Feature/Brian-Eddie-Yashil/BE-User-CRUD-API
  backend/controllers/userController.js
  backend/models/user.js
  backend/routes/user.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Login/Login.tsx
  frontend/src/components/Membership/Membership.tsx
  frontend/src/context/AuthContext.tsx
Labels: user-story, back-end

#40 Feature/sithu soe and joyce lu fe membership
  frontend/src/components/MemberProfile/MemberProfile.tsx
  frontend/src/components/MemberProfile/styles.ts
  frontend/src/components/Membership/Membership.tsx
  frontend/src/components/NavBar/NavBar.tsx
  frontend/src/components/NavBar/ProfileDropdown.tsx
  package-lock.json
  package.json
Labels: front-end

#47 Feature/brian eddie yashil/fe events attended leader board
  frontend/package-lock.json
  frontend/src/components/Membership/EventsAttended.tsx
  frontend/src/components/Membership/LeaderBoard.tsx
  frontend/src/components/Membership/Membership.tsx
  frontend/src/components/Membership/styles.ts
  frontend/src/images/events-attended-alert.svg
  frontend/src/images/profile.png
Labels: user-story, front-end

#59 Feature/sithu soe and joyce lu/fe membership connect backend
  frontend/src/components/MemberProfile/MemberProfile.tsx
  frontend/src/components/Membership/Membership.tsx
  frontend/src/components/NavBar/NavBar.tsx
  frontend/src/utils/types.tsx
Labels: user-story, front-end, back-end

#61 Feature/brian eddie yashil/fe events crud UI
  backend/controllers/eventController.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/index.js
  frontend/src/components/Membership/EventsDashboard.tsx
  frontend/src/components/Membership/Membership.tsx
Labels: user-story, front-end, back-end

#65 Feature/eddie ho/be membership enhancement
  frontend/src/api/index.js
  frontend/src/components/Membership/EventsAttended.tsx
  frontend/src/components/Membership/EventsDashboard.tsx
  frontend/src/components/Membership/LeaderBoard.tsx
  frontend/src/components/Membership/Membership.tsx
  frontend/src/components/Membership/styles.ts
Labels: back-end
