Repository Will-Hsu/cses_webdev, pull requests merged in 2024-03, with the labels that each got.

#141 Home/About Page UI Fix (Mobile L)
  frontend/src/components/About/About.tsx
  frontend/src/components/Home/Home.tsx
Labels: front-end

#145 Change about page images to use ImageWithBoxShadow component
  frontend/src/components/About/About.tsx
  frontend/src/components/Opportunities/Opportunities.tsx
Labels: bug, front-end

#144 add auto labeling for PRs based on branch name
  .github/pr-labeler.yml
  .github/workflows/pr-labeler.yml
Labels: feature
